<h1>codegen yaml<->ini</h1>
<%= form_tag('/code_generators/generate/', method: :get)  do %>
  <%= hidden_field_tag "res[type]", @res[:type]  %>
  <%= hidden_field_tag "from", @generator_info.from  %>
  <%= hidden_field_tag "to", @generator_info.to  %>
  <%= hidden_field_tag "language", params[:language] %>
  <%= text_area_tag("res[from_code]", @res[:from_code], size: "80x20", class: "monospace") %>
  <%= submit_tag("generate") %>
<% end %>

<% if @res[:to_code_1] %>
  <%= text_area_tag("res[to_code_1]", @res[:to_code_1], size:"80x20") %>
  <%= text_area_tag("res[to_code_2]", @res[:to_code_2], size:"80x20") %>
  <%= text_area_tag("res[to_code_3]", @res[:to_code_3], size:"80x20") %>
<% end %>
